html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: black;
    /*background: white !important;*/
}

.registerUser {
    position: relative;
    top: 100px;
}

#my-items{
    color: black;
}

@media (max-width: 500px) {
    body {
        height: 150vh;
    }
}