html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: red;
}

#main {
    width: 100%;
    height: 100%;
}

#cesta {
    display: none;
}

.offcanvas-title {
    color: white;
}

.svg.bi.bi-whatsapp {
    color: green;
}

.bi-cart-plus-fill svg {
    font-weight: 500;
}

.setCard {
    margin-top: 15px;
    box-shadow: 5px 5px 15px black;
}

div#Carrosel {
    box-shadow: 0px 5px 15px black;
}

.loader {
    width: 100%;
    height: 100%;
}

#ProdutoIndex {
    margin-top: 60px;
}

@media (min-width: 500px) {
    #carrosel {
        display: none;
    }
    #cesta {
        display: none;
    }
}

@media (max-width: 500px) {
    #cesta {
        display: block;
    }
    .cesta {
        display: none;
    }
    body {
        height: 150%;
    }
}

.inputRange {
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    width: 50%;
    height: 20px;
    border-radius: 9px;
}

.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2796ee;
    cursor: pointer;
}

.inputRange::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2796ee;
    cursor: pointer;
}