html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: white;
}

#main {
    width: 100%;
    height: 100%;
}



.offcanvas-title {
    color: white;
}

.svg.bi.bi-whatsapp {
    color: green;
}

.bi-cart-plus-fill svg {
    font-weight: 500;
}

.setCard {
    margin-top: 15px;
    box-shadow: 5px 5px 15px black;
}

div#Carrosel {
    box-shadow: 0px 5px 15px black;
}

.loader {
    width: 100%;
    height: 100%;
}

#ProdutoIndex {
    margin-top: 60px;
}

@media (min-width: 500px) {
    #carrosel {
        display: none;
    }
    #cesta{
        display: none
    }
}

@media only screen and (max-width: 600px) {
    
  }

@media (max-width: 575px) {
    #cesta {
        display: block;
    }
    #TwoCesta{
        display: none;
    }
    .cesta {
        display: none;
    }
    body {
        height: 150%;
    }
    .btnBebida {
        position: fixed;
        top: 10%;
        z-index: 50;
        width: 10% !important;
        left: 90% !important;

    }
    .listBebidas {
        font-weight: 500;
    }
    svg.bi.bi-cup-straw {
        position: relative;
    }
    input#searchProduct {
        position: unset;
        width: 100% !important;
        left: unset !important;
    }
}

.inputRange {
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    width: 50%;
    height: 20px;
    border-radius: 9px;
}

.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2796ee;
    cursor: pointer;
}

.inputRange::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2796ee;
    cursor: pointer;
}

.loading.on {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1040;
    background: black;
}

.spinner-border.text-primary {
    position: relative;
    top: 30%;
    left: 50%;
}
#login-session{
    position: relative;
    width: 30%;
    left: 35%;
    top: 30%;
}
.btn-btn{
    width: 100%;
    font-size: 10pt;
}
.position-card{
    position: relative;
    width: 30%;
    left: 35%;
    top: 100px !important;
}
.error.on{
    color: red;
}
input#searchProduct {
    position: relative;
    width: 20%;
    left: 5%
}
.btnBebida {
    position: fixed;
    top: 10%;
    z-index: 50;
    width: 5%;
    left: 95%;
}