.bageSet {
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
}

img {
    box-shadow: 10px 5px 15px black;
}

img.imgBebidas {
    width: 90px;
}
button.btn.btn-success.btnBebida {
    border-radius: 41px;
    background-color: black;
}