<div id="carrosel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <% for (var i =0; i <carrosel.length;  i++ ) { %>
            <% if (i == 0) { %>
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="<%= carrosel[i].dir %><%= carrosel[i].name %>" class="d-block w-100">
                </div>
                <% } else{%>

                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="<%= carrosel[i].dir %><%= carrosel[i].name %>" class="d-block w-100">
                    </div>
                    <% } %>
                        <% } %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carrosel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carrosel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>