<form method="post">
    <div class="row" id="linhaForm">
        <div class="col-12">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <h1>Login</h1>
                <hr>
                <span for="user-name">Usuário</span>
                <input type="text" class="form-control" id="nome" name="nome">
                <span for="user-password">Senha</span>
                <input type="password" class="form-control" id="senha" name="senha">
                <hr>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </div>
        </div>
    </div>
</form>