<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
    <style>
        #linhaForm {
            position: relative;
            top: 70px;
        }
    </style>
    <form method="post">
        <div class="row" id="linhaForm">
            <div class="col-12">
                <span>Nome</span>
                <input type="text" class="form-control" id="nome" name="nome">
            </div>
            <div class="col-12">
                <span>Valor</span>
                <input type="text" class="form-control" id="valor" name="valor">
            </div>
            <div class="col-12">
                <button type="submit">Enviar</button>
            </div>
        </div>
    </form>
</body>

</html>