<!-- Button trigger modal -->
<button type="button" id="btn-modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPedido" style="display: none;">
    Launch static backdrop modal
  </button>

<!-- Modal -->
<div class="modal fade" id="modalPedido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">SEUS PEDIDOS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="my-items">

                </div>
            </div>
            <h4 style="margin-left: 30px">Valor Total: R$<span style="color: green" id="valorTotal"></span></h4>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Voltar</button>
                <a href="#" class="btn btn-danger">Finalizar</a>
            </div>
        </div>
    </div>
</div>