<nav class="navbar navbar-expand-lg navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">

        <svg width="16" height="16" color="white" fill="currentColor" class="bi bi-star-fill efeitoEstrela" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
        <a href="/" class="navbar-brand"><b>Burguer Divini</b></a>
        <button type="button " class="btn btn-warning position-relative" id="cesta">
                <svg width="16 " height="16 " fill="currentColor" class="bi bi-cart3 " viewBox="0 0 16 16 ">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89
                            4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z "/>
                  </svg> <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger " id="item-total"> <span class="visually-hidden ">unread messages</span></span>
              </button>
        <div id="icon-login-top"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menu">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="menu" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <a href="/" class="offcanvas-title nav-link" id="offcanvasExampleLabel">Burguer Divini</a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="background: white"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <div class="btn-group">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                          Menu
                        </a>
                        <ul class="dropdown-menu" id="nav">
                            <% for (var i =0; i <menu.length;  i++ ) { %>
                                <li>
                                    <a class="dropdown-item" href="#<%= menu[i].categoria %>">
                                        <%= menu[i].name %>
                                    </a>
                                </li>
                                <% } %>
                        </ul>
                    </div>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="/contato">FALE CONOSCO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastrar-user">REGISTRAR-SE!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link linkLogin" href="/login">LOGIN</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>